// Importerar variabler.
@import '../../variables';

// Footer.
footer {
  background-color: #d30586;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  text-align: center;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
  animation: changeColor 12s linear infinite; // Animering.

  // Brödtext i footer.
  p {
    text-align: center;
    margin-left: 0;
    text-shadow: 1px 1px 3px #000000;
  }
}

// Keyframes för footerns färgskiftning.
@keyframes changeColor {
  0% {
    background-color: $color-purple;
  }

  20% {
    background-color: $color-pink;
  }

  60% {
    background-color: $color-red;
  }

  100% {
    background-color: $color-purple;
  }
}