<h2>Måttenheter</h2>

<div class="container">
    <div class="length-m">
        <label for="m">Meter: </label>
        <br>
        <input type="number" id="m" [(ngModel)]="m" (ngModelChange)="convertMeterToFeet()">

        <p id="result">{{ m }} meter är {{ resultInFt }} feet.</p>
    </div>
    <div class="length-ft">
        <label for="ft">Feet: </label>
        <br>
        <input type="number" id="ft" [(ngModel)]="ft" (ngModelChange)="convertFeetToMeter()">

        <p>{{ ft }} feet är {{ resultInM }} meter.</p>
    </div>
</div>