<h2>Temperaturenheter</h2>

<div class="container">
    <div class="temp-c">
        <label for="c">Celsius: </label>
        <br>
        <input type="number" id="c" [(ngModel)]="c" (ngModelChange)="convertCelsiusToFahrenheit()">

        <p id="result">{{ c }} °C är {{ resultInF }} °F.</p>
    </div>
    <div class="temp-f">
        <label for="f">Fahrenheit: </label>
        <br>
        <input type="number" id="f" [(ngModel)]="f" (ngModelChange)="convertFahrenheitToCelsius()">

        <p>{{ f }} °F är {{ resultInC }} °C.</p>
    </div>
</div>