// Importerar variabler.
@import 'variables';

// Normalisering.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Body.
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font: 100% $font-stack;
    background-color: $white;

    // Rubriker.
    h1 {
        text-align: center;
        margin: 2rem 0 2rem 0;
    }

    h2 {
        text-align: center;
        margin: 2rem 0 0.5rem 0;
    }
}

// Mediaquery för skärmstorlek 769px och uppåt.
@media screen and (min-width: 769px) {
    
}

// Mediaquery för skärmstorlek 1441px och uppåt.
@media (min-width: 1441px) {
    body p {
        font-size: large;
    }
}