<h1>Startsida</h1>

<div class="container">
    <p>
        Den här webbplatsen är utvecklad med objektorienterad TypeScript i ramverket Angular. 
        Den omfattar en startsida med färgglada och somriga bilder, en konverteringssida där du 
        kan omvandla olika enheter samt en sida med information om webbplatsens konstruktion och 
        mina slutsatser av arbetet.
    </p>

    <div class="images">
        <img [src]="image1" alt="Ett barn skopar glass i sandlådan">
        <img [src]="image2" alt="Ett barn smakar glassen det gjort i sandlådan">
    </div>
</div>